.projectWrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: .5rem;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.projectImageWrapper {
   width: 100%;
   height: 200px;
   position: relative;
}

.projectInfo {
   padding: 10px;
}

.projectInfo h4 {
   margin-bottom: .5rem;
}