.filterWrapper {
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
}

.filterWrapper select {
   width: 140px;
   position: relative;
   height: 2.5rem;
   border: 1px solid #ccc;
   font-size: 1.2rem;
   padding: 8px;
   border-radius: 4px;
   background-color: #f9f9f9;
   /* appearance: none; */
}

/* .filterWrapper select::after {
   content: '▼';
   font-size: 12px;
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   pointer-events: none;
} */

.filterWrapper select option {
   padding: 10px;
   font-size: 2rem;
   background-color: #fff;
   color: #333;
}



.filterWrapper select:hover option {
   background-color: #eee;
}

/* Additional styling for the dropdown when focused */
.filterWrapper select:focus {
   border-color: #d10024;
   box-shadow: 0 0 5px rgba(220, 23, 85, 0.567);
}