.productListPageWrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
}

.filterWrapper {
   margin-bottom: 2rem;
}



@media only screen and (min-width:768px) {
   .productListPageWrapper {
      flex-direction: row;
   }

   .filterWrapper {
      margin-top: 2rem;
      min-width: 25%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   }
}