* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 700;
}

button:hover,
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}